* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #150C25;
    color: white;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;

}

nav {
    height: 6rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 32px;
}

nav img {
    height: 4rem;
}

canvas {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 20rem;
}

.canvas-container {
    position: relative;
    height: 20rem;
}

#message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #150C25;
    font-size: 2rem;
    text-align: center;
    z-index: 2;
    width: 100%;
    pointer-events: none;
}

section {
    padding: 2rem 1rem;
}

section h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.5rem;
    color: #848884;
}

/* Team Section */
.team-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.team-item {
    background: #ece7e7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    padding: 1rem;
}

.profile-picture {
    width: 15rem;
    height: auto;
    border-radius: 10px;
}

.team-info {
    margin-top: 15px;
}


.name {
    margin: 0;
    font-size: 1.1em;
    color: #333;
}

.major {
    margin: 5px 0;
    color: #777;
}

.email {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

.email:hover {
    text-decoration: underline;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}