* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0F172A;
    color: white;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;

}


nav a{
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
    text-decoration: none;
    color: inherit;
}
nav {
    background-color: #0F172A90;
    height: 4.5rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    width: 40%;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.nav-items:hover {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    color: #0F172A;
    background-color: #ffffff80;
}
nav h1 {
    font-size: 32px;
}

nav img {
    height: 100%;
    
}

canvas {
    display: block;
    background-color: #140b24;
    width: 100%;
    height: 20rem;
}

.canvas-container {
    background-color: #522398;
    box-shadow: inset 60px 60px 60px #140b24;
    position: fixed;
    z-index: -1;
    filter: blur(10);
    width: 100%;
    height: 100%;
}

#message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    z-index: 2;
    width: 100%;
}

section {
    padding: 2rem 1rem;
    z-index: 1;
    padding: 10%;

}

section h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

section p {
    font-size: 1.5rem;
    color: #848884;
}

.about {
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission {
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Team Section */
.team-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.team-item {
    background: #0F172A;
    border:  solid #ffffff60 1px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    padding: 1rem;
}

.profile-picture {
    width: 15rem;
    height: auto;
    max-height: 380px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 350px;
    max-height: 350px;
}

.team-info {
    margin-top: 15px;
}


.name {
    margin: 0;
    font-size: 1.1em;
    color: #2DD4BF;
}

.major {
    margin: 5px 0;
    color: #777;
}

.email {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.email:hover {
    text-decoration: underline;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}